<!DOCTYPE html>
<html>
    <head>
        <title>Flebox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>

        <div class="contenedor">

            <div class="flexible">

                <div class="item"></div>
                <div class="item">X</div>
                <div class="item">O</div>
                <div class="item">O</div>
                <div class="item"></div>
                <div class="item">X</div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item">O</div>

            </div>

        </div>

    </body>
</html>